@import "../../theme/app.common";

.login-page {

  background: url('../../img/login_background.jpg') left center no-repeat;
  background-size: cover;

  .content {

    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .form-container {

      align-items: center;
      display: flex;
      flex: 1;
      justify-content: center;

      form {

        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 25px;
        width: 100%;

        @media(max-width: 320px) {
          padding: 0 15px;
        }

        .app-logo {
          background: url('../../img/flash_info_logo.svg') center center no-repeat;
          background-size: 100%;
          height: 36px;
          width: 160px;
        }

        .locales {

          justify-content: space-between;
          margin: 45px 0;

          @media(max-width: 320px) {
            margin: 30px 0;
          }
        }

        .field-rows {

          width: 100%;

          .field-row {

            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
            width: 100%;

            .field-error {
              @include regular-font-with-size(15px);
              color: $vinci-red;
              height: 18px;
              width: 100%;
            }

            input {

              @include regular-font-with-size(17px);
              -moz-appearance: none;
              -webkit-appearance: none;
              appearance: none;
              background-color: $vinci-white;
              border: 1px solid $vinci-field-border-color;
              border-radius: 0;
              box-shadow: none;
              color: $vinci-grey;
              height: 42px;
              outline: none;
              padding: 5px;
              width: 100%;

              &:-moz-placeholder {
                color: $vinci-grey;
              }

              &:disabled {
                background-color: $vinci-white;
              }

              &::-moz-placeholder {
                color: $vinci-grey;
              }

              &:-ms-input-placeholder {
                color: $vinci-grey;
              }

              &::-webkit-input-placeholder {
                color: $vinci-grey;
              }

              &:focus {
                outline: none;
              }
            }

            .email {

              display: flex;
              flex-direction: row;
              width: 100%;

              .username-container {
                flex: 1;
              }

              .domain {
                @include regular-font-with-size(15px);
                color: $vinci-grey;
                line-height: 42px;
                text-indent: 5px;
                white-space: nowrap;
              }
            }

            &.has-error {

              input {

                color: $vinci-red;
                border: 2px solid $vinci-red;

                &:-moz-placeholder {
                  color: $vinci-red;
                }

                &::-moz-placeholder {
                  color: $vinci-red;
                }

                &:-ms-input-placeholder {
                  color: $vinci-red;
                }

                &::-webkit-input-placeholder {
                  color: $vinci-red;
                }
              }
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        .login-button {

          @include regular-font-with-size(19px);
          background-color: $vinci-blue;
          border: none;
          border-radius: 0;
          box-shadow: none;
          color: $vinci-white;
          height: 42px;
          margin-top: 50px;
          width: 100%;

          .hide {
            display: none;
          }

          .spinner {
            background: url('../../img/spinner.svg') transparent center center no-repeat;
            background-size: 75%;
            height: 36px;
            width: 36px;
          }

          &:disabled {
            opacity: 1;
          }
        }
      }
    }

    .footer {

      clear: both;
      height: 56px;
      width: 100%;

      .logo {
        background: url('../../img/vinci_logo.svg') center center no-repeat;
        background-size: 100%;
        float: right;
        height: 36px;
        margin: 10px;
        width: 120px;
      }
    }
  }
}
